<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD-3//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>

    <session-factory>
   	    	      
          <property name="hibernate.connection.username">ozsvrknvvklfrq</property>
		  <property name="hibernate.connection.password">460b99f864c19ad4daa21c40301610a8a2d956c91b8dc8bfd6f4430dc26e7b86</property>
		  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property> 
		  <property name="hibernate.connection.url">jdbc:postgresql://ec2-174-129-253-146.compute-1.amazonaws.com:5432/d9lb6t7c3org9f</property>
        
   	   <!--<property name="hibernate.connection.username">postgres</property>	
		  <property name="hibernate.connection.password">root</property>
		  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property> 
		  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/opt_web_002</property>-->
	
		  <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property> 
		  <property name="hibernate.current_session_context_class">thread</property> 
		  <property name="current.session.context.class">thread</property>
		  <property name="hibernate.show_sql">true</property>
		  <property name="hibernate.format_sql">true</property>
		  <property name="hibernate.hbm2ddl.auto">update</property>
		
		  <mapping class ="br.com.OPT_WEB_002.documento.Documento"/>
		  <mapping class ="br.com.OPT_WEB_002.usuario.Usuario" />
		  <mapping class ="br.com.OPT_WEB_002.empresa.Empresa"/>
		  <mapping class ="br.com.OPT_WEB_002.filial.Filial"/>
		  <mapping class ="br.com.OPT_WEB_002.unidade_negocio.Unidade_Negocio"/>
		  <mapping class ="br.com.OPT_WEB_002.tipo_documento.Tipo_Documento"/>
		  <mapping class ="br.com.OPT_WEB_002.val_campos_doc.Val_Campos_Doc"/>
		  <mapping class ="br.com.OPT_WEB_002.layout_empresa.Layout_Empresa"/>	
		  <mapping class ="br.com.OPT_WEB_002.transacao.Transacao"/>
		  <mapping class ="br.com.OPT_WEB_002.transacao_documento.Transacao_Documento"/>
		  <mapping class ="br.com.OPT_WEB_002.campo_adicional.Campo_Adicional"/>
		  <mapping class ="br.com.OPT_WEB_002.tipo_documento_transacao.Tipo_Documento_Transacao"/>
		  <mapping class ="br.com.OPT_WEB_002.val_campos_trans_doc.Val_Campos_Trans_Doc"/>			
		  <mapping class ="br.com.OPT_WEB_002.grupo_valores.Grupo_Valores"/>
		  <mapping class ="br.com.OPT_WEB_002.grupo_valores_possiveis_doc.Grupo_Valores_Possiveis_Doc"/>
		  <mapping class ="br.com.OPT_WEB_002.situacao_tipo_documento.Situacao_Tipo_Documento"/>		 
		  <mapping class ="br.com.OPT_WEB_002.usuario_tipo_documento.Usuario_Tipo_Documento"/>
	
	</session-factory>
	
</hibernate-configuration>